/**
 * Styles for the ACF page Builder.
 */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Imports
# Featured Styles
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Imports
--------------------------------------------------------------*/
@import "../global/_custom-properties.css";


/*--------------------------------------------------------------
# Featured Styles
--------------------------------------------------------------*/
.featured .cta {
	background-color: var(--color-theme-grey);
	text-decoration: none;
	padding: .6em 1.3em;
	border-radius: .8em;

}
